@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron" id="homepage-hero">
    <div class="container">
        <h1>Chatter</h1>
        <p>Bringing You Into the Conversation</p>
        <p><a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Chats")" role="button">Get in the Loop</a></p>
    </div>
</div>
